0 7 * * *  curl -X POST http://core-service:8000/core/api/internal/v1/passcode/rotate >> /proc/1/fd/1 2>&1
*/10 * * * * curl -X POST http://voting-service:8085/voting/api/internal/polls/process >> /proc/1/fd/1 2>&1
